<html>
<head>

</head>
<body>
    <div>
        <a href="/signin">Sign in</a><br/>
        <a href="/signup">Register</a><br/>

        <br/>
        <br/>
        Oauth Login via Facebook, Twitter, Google
        <a href="/oauth/facebook">Login with Facebook</a>
        <a href="/oauth/twitter">Login with Twitter</a>
        <a href="/oauth/google">Login with google</a>
    </div>
</body>
</html>